body {
    background-color: gold;
}

li {
    background-color: rgb(39, 209, 96);
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    padding: 10px;
}

a {
    color: rgb(247, 28, 28);
}
li:hover {
    background-color: lightblue;
}
ul {
    list-style: none;
}
h1 {
    text-align: center;
}